# Proyecto de análisis de sentimientos con Python

Curso 2022/2023:
    Juan López Quirós
    Jose Ignacio Castro Vázquez

 Lo primero que hay que hacer es escoger o recopilar una primera versión de los datos necesarios que utilizarmos 
 para entrenar a nuestros modelos de Aprendizaje automático. 
 Tras haber estudiado los varios problemas con la API de twitter y las alternativas propuestas, nos decidimos por 
 buscar un dataset ya recopilado de tweets reales de la página web kaggle. En concreto nos decidimos por un dataset
 ya enfocado al análisis de sentimientos con más de 1.6 millones de tweets recopilados directamente de la API de twitter
 por lo que se ajusta perfectamente al proyecto.

 url : https://www.kaggle.com/datasets/kazanova/sentiment140

 Luego, tenemos que limpiar el dataset escogido para este proyecto.
 A nosotros solo nos interesa una columna en particular de todo el dataset y ese es la columna de texto, que contiene
 el contenido de los tweets en sí.

In [3]:
import pandas as pd

def create_cleaned_csv(original_filename, target_filename):
    data = pd.read_csv(original_filename, encoding="latin1", header=None)
    print("ORIGINAL: \n")
    print(data)

    #We give the columns a name
    column_names = ["target", "id", "date", "flag", "user", "text"]
    data.columns = column_names
    print("GIVE COLUMN NAMES: \n")
    print(data)

    #We eliminate innecessary columns
    data.drop(columns=["target", "id", "date", "flag", "user"], inplace=True)

    #We put the cleaned data into a new csv file
    data_cleaned = target_filename
    data.to_csv(data_cleaned, index=False)
    print("FINAL RESULT: \n")
    print(data)

In [4]:
create_cleaned_csv("tweet_data.csv", "tweet_cleaned_data.csv")

ORIGINAL:

         0           1                             2         3  \
0        0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1        0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2        0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3        0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4        0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...     ..         ...                           ...       ...
1599995  4  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996  4  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997  4  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998  4  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599999  4  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                       4                                                  5
0        _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          scotthamilton  is upset that he can't update his Facebook by ...
2               mattycus  @Kenichan I dived many times for the ball. Man...
3                ElleCTF    my whole body feels itchy and like its on fire
4                 Karoli  @nationwideclass no, it's not behaving at all....
...                  ...                                                ...
1599995  AmandaMarie1028  Just woke up. Having no school is the best fee...
1599996      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
1599997           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
1599998     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
1599999   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]
GIVE COLUMN NAMES:

         target          id                          date      flag  \
0             0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1             0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2             0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3             0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4             0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
1599995       4  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996       4  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997       4  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998       4  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599999       4  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                    user                                               text
0        _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          scotthamilton  is upset that he can't update his Facebook by ...
2               mattycus  @Kenichan I dived many times for the ball. Man...
3                ElleCTF    my whole body feels itchy and like its on fire
4                 Karoli  @nationwideclass no, it's not behaving at all....
...                  ...                                                ...
1599995  AmandaMarie1028  Just woke up. Having no school is the best fee...
1599996      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
1599997           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
1599998     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
1599999   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]
FINAL RESULT:

                                                      text
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        is upset that he can't update his Facebook by ...
2        @Kenichan I dived many times for the ball. Man...
3          my whole body feels itchy and like its on fire
4        @nationwideclass no, it's not behaving at all....
...                                                    ...
1599995  Just woke up. Having no school is the best fee...
1599996  TheWDB.com - Very cool to hear old Walt interv...
1599997  Are you ready for your MoJo Makeover? Ask me f...
1599998  Happy 38th Birthday to my boo of alll time!!! ...
1599999  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 1 columns]

A continuación, utilizamos la libreria NLTK para excluir aquellas palabras que no nos aportan ninguna información.

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

data = pd.read_csv('tweet_cleaned_data.csv')
stopwords = set(stopwords.words('english'))

for i, row in data.iterrows():
    # word_tokenize tokeniza las palabras y los caracteres especiales para su fácil procesamiento, por ejemplo:
    # "Hello, Awesome User" -> ['Hello', ',', 'Awesome', 'User']
    tokenized_tweet = word_tokenize(data.iloc[i])
    filtered_tweet = [w for w in tokenized_tweet if not w.lower() in stopwords]

In [ ]:
print("holalaaaa")

In [ ]:
print("holalaaaa")

In [ ]:
print("holalaaaa")
print("holalaaaa")